<div class="d-flex flex-column">
	<div class="text-center">
		<h1 class="pt-3 pb-3 text-success">voila le gossip numero : <%= @event.id %></h1>
	</div>
	<div class="text-center bg-success border border-dark">
		<div>
			<h3 class="text-warning border border-dark bg-info pt-2 pb-2">titre : <%= @event.title %></h2>
		</div>
		<p class="text-warning"><%= @event.title %></p>
		<p class="text-warning">crée le : <%= @event.description %></p>
		<br/>
		<a class="text-info pr-5" href="/users/<%= @event.user.id %>">author : <%= @event.user.first_name %></a>
		<p class="text-warning">start date : <%= @event.start_date %></p>
		<p class="text-warning">duration : <%= @event.duration %></p>
		<p class="text-warning">price : <%= @event.price %></p>
		<p class="text-warning">location : <%= @event.location %></p>
	</div>
</div>